<wk-topNavBar>Loading...</wk-topNavBar>

<p>Top Nav Bar ^ | Calendar Cards v</p>

<wk-newsCard>Loading...</wk-newsCard>

<div class="container-fluid d-flex">
    <div *ngFor="let calendarCard of calendarCards" class="mx-2">
        <wk-calendarCard date={{calendarCard.date}} title={{calendarCard.title}} description={{calendarCard.description}}>
            Loading...
        </wk-calendarCard>
    </div>
</div>  

<wk-socialNavBar>Loading...</wk-socialNavBar>

<p>Social Nav Bar ^ | Store Carousel v</p>

<wk-store-carousel>Loading...</wk-store-carousel>


