<div class="card calendarCard">
    <div class="card-body">
      <p class="card-text">Wed, 02 Feb 2022</p>
      <a href="https://webkinznewz.ganzworld.com/estore/deluxe-wednesdays-february-2022/" class="card-link mb-3" target="_blank">Deluxe Wednesdays: February 2022</a>
      <p class="card-text">Deluxe Wednesdays - every Wednesday at eStore! <a href="https://webkinznewz.ganzworld.com/estore/deluxe-wednesdays-february-2022/" class="card-link" target="_blank">Read more →</a></p>
    </div>
  </div>